body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header.logo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.header.logo img{
  padding-left: 10px;
  height: 50px;
  opacity: 0.9;
}

nav{
  display: block;
  text-align: right;
  text-decoration: underline;
  color: seashell;
  flex-grow: 1;
}
nav span{
  text-align: right;
  padding: 20px 10px;
  color: seashell;
  text-decoration: underline;
}
