body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.header.logo{
  padding-left: 10px;
  height: 50px;
  color: seashell;
  opacity: 0.9;
}
